tests.py
*.jams
exps/GuitarSet/data/audio/*
exps/HjerrildDataset/data/train/
src/InharmonicStringDetection/example_sklearn.py
src/InharmonicStringDetection/rasnac.py
src/InharmonicStringDetection/linearleastsquare.py
*.pyc
.vscode
*.wav
OutputToMIDI.py
*.mid
desktop.ini
*.png
exps/GuitarSet/tmp.wav
LICENSE
dist/
exps/data/
pyproject.toml
setup.cfg
src/InharmonicAnalysis.egg-info/
tests/